<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="Thao_HidePrice" frontName="hideprice">
            <module name="Thao_HidePrice" />
        </route>
    </router>
</config>
