<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- Section -->
        <section id="HidePrice" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>HidePrice</label>
            <tab>thao</tab>
            <resource>Thao_HidePrice::HidePrice_config</resource>

            <!-- Group -->
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General HidePrice</label>
                <field id="email_template" translate="label" type="select" sortOrder="3" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Test Tab Email Contact</label>
                    <comment>Test tab email sent to xyz.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
